{% extends 'layout.html' %}
{% block body %}

<button class="btn btn-primary ml-5 my-5">Back</button>
<div class="card m-5">
    <div class="card-header">Recipe Details</div>
        <div class="card-body">
                <table class="table ml-5 mr-5 py-4">
                        <thead>
                          <tr>
                            
                            <th>Description</th>
                            <th>Ingredients</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            
                            <td>Prepare three cups of beans...</td>
                            <td>--Beans</td>
                          </tr>
                          <tr>
                            
                            <td>Preapre 3 eggs</td>
                            <td>Wheat flour</td>
                          </tr>
                         
                        </tbody>
                      </table>
        </div>
    
</div>

      {% endblock %}