{% extends 'base.html' %}
{% block body %}
    {% include 'includes/_navbar.html' %}
    <div class="container">
        {% block content %}
            <div class="list-group mt-5">
                <div class="list-group-item justify-content-between">
                    {% block heading %} 
                        
                    {% endblock %}                    
                </div>
                {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                  {% for category, message in messages %}
                    <div class="alert alert-{{ category }} mb-0">
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    {{ message }}</div>
                  {% endfor %}
                {% endif %}
                {% endwith %}
                {% block list %}
                    
                {% endblock %}                 
            </div>
        {% endblock %}
    </div>
{% endblock %}