{% extends 'base.html' %}
{% block body %}
    <div class="row">
        <div class="col-xs-8 offset-xs-2 col-sm-8 offset-sm-2 col-md-6 offset-md-3 col-lg-4 offset-lg-4">
            <div class="card mt-5 border-0">
                <div class="card-block bg-primary">
                    <h1 class="text-white text-center pt-5 pb-5"></h1>
                </div>
                <div class="card-block">
                    <ul class="nav nav-tabs">
                        {% if "/login" in request.path %}
                            <li class="nav-item">
                                <a class="nav-link active" href="/login">Sign in</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/register">Sign up</a>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a class="nav-link" href="/login">Sign in</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" href="/register">Sign up</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
                <div class="card-block">   
                    {% include 'includes/_messages.html' %}                 
                    {% block form %}
                    
                    {% endblock %}
                </div>
            </div>
        </div>
    </div> 
{% endblock %}




<!--Panel-->
<div class="card card-body">
    <h4 class="card-title">Panel title</h4>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <div class="flex-row">
        <a class="card-link">Card link</a>
        <a class="card-link">Another link</a>
    </div>
</div>
<!--/.Panel-->
                