.content {
    width: 360px;
    margin: 10px auto;
    margin-top: 100px;
    padding-bottom: 10px;
    background-color: #F5F5F5;
}

h3 {
    text-align: center;
    color: #286090;
}

.form-item {
    margin: 5px 0;
}

.reg-link {
    text-align: center;
    display: block;
}

form {
    padding: 5px 20px;
}

.list {
    margin: 0 100px;
}

.logout {
    margin-right: 20px;
}

.heading {
    padding-right: 20px;
    vertical-align: middle;
    margin-bottom: 20px;
}

.list-add-row {
    display: inline-block;
    width: 80%;
}

.item-action {
    float: right;
}

.list-name {
    text-decoration: none !important;
}

.status {
    width: 5%;
}