{% extends 'layouts.html'%}
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                    Doof!
                </a>                
            </div>
            <a class="navbar-text navbar-right logout" href="/logout">
                    Logout
                </a>
        </div>
    </nav> 

 {% block body%}
    <div class="list-group list">
        <a href="#" class="list-group-item active">Doof!</b></a>
        
            {% if category!=None %}    
            <form method="POST" action="/categories/{{category}}">
            <div class="list-group-item">   
            <input type="text" name="categoryname" class="form-control list-add-row" value="{{category}}" required/>
            <input type="submit" class="btn btn-default" name="submit" value="Save"/>
            {% else %}
            <form method="POST" action="/categories">
            <div class="list-group-item">
            <input type="text" name="categoryname" class="form-control list-add-row" placeholder="Enter category name here and click the add action on the right to create a new category" required/>
            <input type="submit" class="btn btn-default" name="submit" value="Add" />
            {% endif %}
      </div>
       </form>
       {% if categories!=None %}
       {% for key, value in categories.iteritems() %}
       <div class="list-group-item">                   
            <a href="/recipes/{{key}}/delete"><span class="glyphicon glyphicon-trash item-action" aria-hidden="true"> </span></a>
            <a href="/recipes/{{key}}/edit"><span class="glyphicon glyphicon-pencil item-action" aria-hidden="true"> </span></a>            
            <a href="/recipes/{{key}}" class="">{{key}}</a>
       </div>
        {% endfor %}
        {% endif %}
    </div>
{% endblock %}